{% extends 'base.html' %}
 {% block Content %}
<div class='row'>
	<div class='col-sm-12'>
		<div class='card'>
			
			<div class='card-body'>
				<div class='h6'>Liste des utilisateurs</div>
				<hr>
				<div class='table-responsive'>
					<table class='datatable table table-striped'>
						<thead class='thead-light'>
							<tr>
								<th style="width: 1%;" >N°</th>
								<th style="width: 20%;" >Prénom et Nom</th>
								<th style="width: 10%;" >Téléphone</th>
								<th style="width: 10%;" >Email</th>
								<th style="width: 10%;" >Groupe</th>
								<th style="width: 15%;text-align:center" >Actions</th>
							</tr>
						</thead>
						</tbody>
						{% for u in users %}
							<tr>
								<td>{{forloop.counter}}</td>
								<td>{{u.nom}} {{u.prenom}} </td>
								<td>{{u.telephone}}</td>
								<td>{{u.email}}</td>
								<td>
                                    {% for group in u.groups.all %}
										<div> {{ group.name|title }} </div>
									{% endfor %}
                                </td>
								 <td class='text-center'>
									<a class='btn btn-primary btn-sm' href="{% url 'accounts-edit' u.id %}"><i class='bi bi-pencil-square'></i></a> &nbsp; &nbsp;
									<a style="background: green;" class='btn btn-success btn_sm btn-sm' href="{% url 'reset_password' u.id %}">
										<i class="bi bi-arrow-clockwise"></i>
									</a>									
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock Content %}
