{% extends 'base.html' %} {% block Content %}
<div class="row">
  <div class="col-sm-12">
    <div class="card">
     
      <div class="card-body">
        <h5 class="card-title text-dark">Informations de l'entreprise</h5>
        <hr>
        <div class="table-responsive">
          <table class="table table-stripped datatable" id='simpletable'>
            <thead class="thead-light">
              <tr>
                <td hidden>#</td>
                <th>N°</th>
                <th>Nom</th>
                <th>Logo</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>Adress</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
            {% for entrepris in entreprises %}
              <tr>
                <td hidden>#</td>
                <td>{{forloop.counter}}</td>
                <td>{{entrepris.nom}}</td>
                <td> 
                  {% if entrepris.logo %}
                    <img height="50" width="50" src="{{entrepris.logo.url}}" alt="" srcset="">
                  {% endif %}
                </td>
                <td>{{entrepris.telephone}}</td>
                <td>{{entrepris.email}}</td>
                <td>{{entrepris.adresse}}</td>
                <td class="text-center" >
                    <a class="btn btn-success btn-sm me-3" href="{% url 'entreprise-edit' entrepris.id %}">Modifier</a>
                    {% if user.is_staff %}
                      <button class='delete btn btn-danger btn-sm' data-bs-toggle='modal' data-bs-target='#delete' data-href="{% url 'entreprise-delete' entrepris.id %}">Supprimer</button>
                    {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock Content %}
